.float{     /*BOTON DE WHATSAP*/
        position: fixed;   /*para que quede fijo en un solo lugar cosa que scrolee no se mueve para ningun lago*/
        width: 60px;
        height: 60px;
        background-color: #25d366; /*colorsito whatsap*/
        bottom: 40px;
        right: 40px; /*esto lo posiciona en la esquina izquierda parte inferior*/
        border-radius: 50%;
        text-align: center; /* el logo va quedar centrado dentro de la bola verde*/
        box-shadow: 2px 2px 3px #999; /*le da un peque単o redondeado gris en los bordes*/
        z-index: 999;    
}

        .fa-whatsapp{
                font-size: 60px;    /*hace gran el dibujo de whasap dentro del circulo verde*/
        }

        .float:hover{
                background-color: #28e76e;

        }






@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');



:root{
        --padding-container : 100px 0;
        --color-title: #001A49;

}


body{
        font-family: 'Poppins', sans-serif;
            
}


.container {

        width: 90%;
        max-width: 1200px;
        margin: 0 auto; 
        overflow: hidden; 
        padding : var(--padding-container);
}


.hero{

        width:  100%;
        height : 100vh;
        min-height : 600 px;
        max-height : 800 px;
        position : relative;
        display: grid;
        grid-template-rows: 100px 1fr;
        color: #fff;
}

.hero::before {
        content : "";
        POSITION: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height:100%;
        background-image : linear-gradient(180deg, #0000008c 0% , #0000008c 100% ), url("../edificiasos.jpg");
        background-size : cover;
        clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
        z-index: -1;
    

}


.nav {
        --padding-container: 0;
        height: 100%;
        display: flex;
        align-items: center;
    }

.nav__title{
        font-weight: 300;
        
}

.nav__items{
        list-style: none;


}

.nav__link{
         margin-left: auto;
         padding: 0;
         display: grid;
         grid-auto-flow:column;
         grid-auto-columns: max-content;
         gap: 2em;

}

.nav__links{
        color: #fff;          /*COLOR LETRAS MENU , INICIO, ACERCA DE , CONTACTO , BLOG */ 
        text-decoration: none;
}


.nav__menu{
        display:block;
        width: 30 px;
        display: none;

}

.nav__imag{
        display: block;
        width: 30px;
}

.nav__close{
        display: var(--show,none);

  }

  /*hero container*/


.hero__container{
        max-width: 800px;        
        --padding-container:0;
        display: grid;      
        grid-auto-rows: max-content;
        align-content: center;
        gap: 1em;
        padding-bottom: 100px;
        text-align: center;


}

.hero__title{
        font-size: 3rem;

}

.hero__paragraph{
        margin-bottom: 20px;

}

.cta{
        display: inline-block;
        background-color:#2091F9;
        justify-self: center;
        color: #fff;
        text-decoration:  none;
        padding: 13px  30px ;
        border-radius: 32px;
}

/*about */

.about{ 
        text-align: center;

}

.subtitle{
        color : var(--color-title);
        font-size: 2rem;
        margin-bottom: 25px;  
}

.about__paragraph{
        line-height: 1.7;
}


.about__main{
        padding-top: 80px;
        display: grid;
        width: 90%;
        margin: 0 auto;
        gap: 1em;
        overflow: hidden;
        grid-template-columns: repeat(auto-fit, minmax(260px, auto));
}


.about__icons{
        display: grid;
        gap: 1em;
        justify-items: center;
        width: 260px;
        overflow: hidden;
        margin: 0 auto;
}


.about__icon{
        width: 40px;

}

 /* Media queries */

 @media  (max-width:800px){
        .nav__menu{
              display: block;
        }

        .nav__link--menu{
                position: fixed;
                background-color: #000;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column ;
                justify-content: space-evenly;
                align-items: center;
                z-index: 100;   
                opacity: 0;
                pointer-events: none;       
                transition: .7s opacity;          
        }

        .nav__link--show{
                --show: block;
                opacity:1 ;
                pointer-events: unset ;
        }

        .nav__close{
                position: absolute;
                top: 30px;
                right: 30px;
                width: 30 px;
                cursor: pointer;   /*cada vez que pase el mas se activa la mano*/
        }

        .hero__title{
                font-size: 2.5rem; 
        }    
        
        .about__main{
                gap: 2em;

        }

        .about__icons:last-of-type{
                grid-column: 1/-1;
        }

        .knowledge__container{
                grid-template-columns: 1fr;  /*vas a tener 1 columna*/
                grid-template-rows: max-content 1fr; /* 1ra max content y segunda fraccion*/
                gap: 3em;
                text-align: center; /*texto se centran de knowledge (nuestros cliente son... */

        }

        .knowledge__picture{
                grid-row: 1/2;
                justify-self: center; /*centramos la imagen para que se centre*/
                
        }

        .testimony__container{
                grid-template-columns: 30px 1fr 30px; /*slider fotos cambiamos tama単a*/
        }

        .testimony__body{
                grid-template-columns: 1fr;
                grid-template-rows: max-content max-content;
                gap : 3em;
                justify-items: center;
        }

        .testimony__img{                 /*todo es para que el slider foto cambiar tama単o*/
                width: 200px;
                height: 200px; 

        }

        .questions__copy{
                width: 100%;
        }

        .footer__container{   /*le decimos que los elementos se mantengan en una misma linea  (inicio, acerca de , contacto , blog ) */
                flex-wrap: wrap;  
        }      
        
        .nav--footer{
                width: 100%;
                justify-items: center;      /*centramos (inicio , acerca de , contacto , blog ) */
        }

        .nav__link--footer{
                width: 100%;
                justify-content: space-evenly;  /*le damos espacio entre palabras (inicio, acerca de , contacto , blog )*/
                margin: 0 ; 
        }

        .footer__form{
                width: 100%;     /* que ocupe el contenedor al 100*/
                justify-content: space-evenly;   /*espacio entre email y registrate*/

        }

        .footer__input{        /*quitamos el espacio sobrante entre email y registrate*/
                flex: 1;
        }             


}

@media(max-width:600px){    /*apartir de aca trabajamos para una pantalla mas chica*/
        .hero__title{
                font-size: 2rem;

        }

        .hero__paragraph {
                font-size: 1rem;
        }

        .subtitle{
                font-size: 1.8rem;
        }

        .price__element{   /*achico la distancia entre precios de arriba para abajo */
                width: 90%;          
        }

        .price__element--best{
                width: 90%;
                padding: 40px;   /*que no se vean tan largos cuadros precios*/
        }


        .price__price{
                font-size: 2rem;
        }

        .testimony{
                --padding-container: 60px 0;
        }


        .testimony__container{
                grid-template-columns: 28px 1fr 28px;
                gap: .9em;

        }

        .testimony__arrow{
                width: 100%;
        }

        .testimony__course{
                margin-top: 15px;
        }

        .questions__title{
                font-size: 1rem;   /*para hacer mas peque単as las letras de las preguntas */
        }
     
        .footer__title{
                justify-self: start; 
                margin-bottom: 15px;   /*achicar margen entre cursos css  . inicio , acerca de , contacto etc */
        }

        .nav--footer{
                padding-bottom: 40px;

        }

        .nav__link--footer{   /*para que se peguen en las esquinas , inicio, acerca de , contacto etc*/
                justify-content: space-between;
        }

        .footer__inputs{    /*importante para que si la pantalla es muy chica el boton registrate no se pierda y se baya una linea mas abajo*/
                flex-wrap: wrap;
                
        }

        .footer__input{   /*espacios entre email , registrate etc */
                flex-basis: 100%;
                margin:0;
                margin-bottom: 16px;
        }

        .footer__submit{        /*centrar email , registrate etc en el medio*/
                margin-right: auto;
                margin-left: 0;      /*para que se pase a la izquierda , se desentiende con la linea 731 pero es lo que dice el video */
        }
        

}




